.ratesPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    color: white;
    gap: 30px;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

.Value {
    min-width: 300px;
}

@media screen and (max-width: 700px) {
    .Value {
        min-width: 50px;
    }
}