.MainPage {
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    color: white;
    width:100%;
    height: 100%;
    align-items: center;
}

.currencyFields {
    display: flex;
    flex-direction:column;
    gap: 30px;
}

.revertBtn{
    align-self: flex-end;
}