.navbar {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 15px;
}

.navbar a:hover {
    color: var(--primary);
}

.title {
    display: flex;
    justify-content: space-between;
    color: var(--secondary);
}

.navigation {
    width: 40px;
}

.link {
    font-size: 1.2rem;
    font-weight: bold;
}

.active {
    color: var(--primary);
    text-decoration: underline;
}