@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  --primary: #48bde2;
  --secondary: #ffbf5b;
  --dark: #292a2d;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: 'Abril Fatface', serif;
  letter-spacing: 0.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  padding: 20px;
  align-items: center;
  color: white;
}

header aside {
  font-weight: bold;
  font-size: 1.4rem;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(72, 189, 226, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.app-container {
  flex: 1;
  width: 100%;
}

.inputItem {
  color: #48bde2
}