@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  --primary: #48bde2;
  --secondary: #ffbf5b;
  --dark: #292a2d;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: 'Abril Fatface', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}